{% extends 'dictionary/base.html' %}

{% block title %}
    Add an Example for "{{ word }}"
{% endblock title %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1 class="fw-normal">Add an example for
            <a href="{% url 'dictionary:entry' lang.code word %}" class="link-unstyled underline-hover">
                '{{ word }}'
            </a>
        </h1>

        <!-- Details -->
        <div>
            <span class="badge bg-primary me-2">{{ lang.name }}</span>
            <span class="me-2 fst-italic text-muted">{{ attribute.pos.meaning }}</span>
            <span class="me-2">{{ attribute.definition }}</span>
        </div>
    </div>

    {% comment %}
    {% if request.user.profile.reputation < 30 %}
        <div class="alert alert-warning">
            You need at least 30 reputation points to add an example. Learn how to gain reputation by visiting the
            <a href="{% url 'main:help' 'reputation_guide' %}" class="text-reset">reputation guide</a>.
        </div>
    {% else %}
    {% endcomment %}
    <!-- Add example form -->
    <div class="container mb-3">
        <form action="{% url 'dictionary:add_example' lang.code word attribute.pk %}" method="POST">
            {% csrf_token %}

            <div class="form-group mb-3 border-bottom">
                <label for="content" class="fw-bold mb-2">Content</label>
                <div id="proofreader-field"></div>
            </div>

            <button class="btn btn-primary">Add example</button>
        </form>
    </div>
    <!-- End add example form -->
{% endblock %}