{% extends 'dictionary/base.html' %}

{% block content %}
    <div class="container d-flex flex-wrap align-items-center pb-3 mb-3 border-bottom">
        <div class="me-auto">
            <h1>Dictionary Entries</h1>
        </div>
        <form action="{% url 'dictionary:catalog' lang.code %}" class="d-flex align-items-center me-2">
            <div class="input-group d-flex flex-nowrap">
                <input name="q" type="search" class="form-control" style="min-width: 250px;" placeholder="Search" autofocus>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Language
            </a>
            <ul class="dropdown-menu">
                <li><a id="akl" href="{% url 'dictionary:catalog' 'akl' %}" class="dropdown-item">
                    Aklanon
                </a></li>
                <li><a id="eng" href="{% url 'dictionary:catalog' 'eng' %}" class="dropdown-item">
                    English
                </a></li>
            </ul>
        </div>
    </div>

    <div class="container pb-3 mb-3">
        <div class="mb-3">
            <ul class="list-group">
                {% for entry in entries %}
                    <li class="list-group-item">
                        <a href="{% url 'dictionary:entry' lang.code entry.word %}">{{ entry.word }}</a>
                    </li>
                {% empty %}
                    No entries
                {% endfor %}
            </ul>
        </div>
        {% if as_definitions %}
            <div class="mb-3">
                <h2 class="h4">"{{ query }}" as definition</h2>
                <ul class="list-group">
                    {% for entry in as_definitions %}
                        <li class="list-group-item">
                            <a href="{% url 'dictionary:entry' lang.code entry.word %}">{{ entry.word }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}