{% extends 'dictionary/base.html' %}

{% block content %}
    <div class="container d-flex align-items-center pb-3 mb-3 border-bottom">
        <div class="flex-grow-1">
            <h1>Dictionary Entries</h1>
        </div>
        <div>
            <a href="{% url 'dictionary:search' %}" class="btn btn-primary">Search</a>
        </div>
    </div>

    <div class="container pb-3 mb-3">
        <div class="mb-3">
            <ul class="list-group">
                {% for entry in entries %}
                    <li class="list-group-item">
                        <a href="{% url 'dictionary:entry' entry.word %}">{{ entry.word }}</a>
                    </li>
                {% empty %}
                    No entries
                {% endfor %}
            </ul>
        </div>
        {% if as_definitions %}
            <div class="mb-3">
                <h2 class="h4">"{{ query }}" as definition</h2>
                <ul class="list-group">
                    {% for entry in as_definitions %}
                        <li class="list-group-item">
                            <a href="{% url 'dictionary:entry' entry.word %}">{{ entry.word }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}