{% extends 'dictionary/entries.html' %}

{% block title %}
    Browse Aklish Dictionary
{% endblock title %}

{% block additional %}
    <nav id="page-pagination">
        <ul class="pagination pagination-sm flex-wrap justify-content-center">
            {% if entries.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ entries.previous_page_number }}">
                        <span>&lsaquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><span>&laquo;</span></a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#"><span>&lsaquo;</span></a>
                </li>
            {% endif %}

            {% for page_num in page_nums %}
                {% if page_num == request.GET.page %}
                    <li class="page-item">
                        <a href="?page={{ page_num }}" class="page-link active mb-1">
                            {{ page_num }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_num }}" class="page-link mb-1">
                            {{ page_num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if entries.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ entries.next_page_number }}">
                        <span>&rsaquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ entries.paginator.num_pages }}">
                        <span>&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><span>&rsaquo;</span></a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#"><span>&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}