{% extends 'dictionary/base.html' %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Search Dictionary</h1>
    </div>
    <div class="container pb-3 mb-3">
        <form action="{% url 'dictionary:catalog' %}">
            <div class="input-group">
                <input name="q" type="search" class="form-control" placeholder="Search" autofocus>
                <input type="submit" value="Search" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}