// link unstyled
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

// underline hover
.underline-hover {
    text-decoration: none;
}

.underline-hover:hover {
    text-decoration: underline;
}