{% extends 'games/base.html' %}

{% block content %}
    <div id="app"></div><br>

    <br><hr><br>

    <div class="container">
        <h1 class="text-center mb-3">How to Play Match</h1>
        <div class="mb-2">
            <h2>Objective</h2>
            <p>Choose the word that is similar to the word being asked.</p>
        </div>
        <div class="mb-2">
            <h2>Rules</h2>
            <ul>
                <li>You have only one try to pick the matching word.</li>
                <li>You can only choose among the provided options.</li>
            </ul>
        </div>
        <div class="mb-2">
            <h2>Gameplay</h2>
            <ol>
                <li>You are provided with a word and four choices.</li>
                <li>Select a word from the provided options that is similar to the word being asked.</li>
                <li>Click or tap on your chosen option.</li>
                <li>Receive immediate feedback on your choice.</li>
                <li>
                    The button of the correct choice will turn <span class="text-success">green</span>,
                    while the button of the wrong choice will turn <span class="text-danger">red</span>.
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
