{% extends 'games/base.html' %}

{% block content %}
    <div id="app" style="text-align: center;"></div>

    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel">
        function App() {
            const [solution, setSolution] = React.useState("");
            const [hint, setHint] = React.useState("");
            const [currentGuess, setCurrentGuess] = React.useState("");
            const [turn, setTurn] = React.useState(0);
            const [guesses, setGuesses] = React.useState([]);
            const [history, setHistory] = React.useState([]);
            const [isCorrect, setIsCorrect] = React.useState(false);

            function updateEntry() {   
                fetch('/dictionary/api/akl')
                    .then(response => response.json())
                    .then(data => {
                        setSolution(data.word);

                        const attributes = data.attributes;
                        const definition = attributes[Math.floor(Math.random() * attributes.length)].definition;
                        setHint(definition);
                    });
            }

            React.useEffect(() => {
                updateEntry();
            }, []);

            function formatGuess() {

            }

            function addNewGuess () {

            }

            function handleKeyup({key}) {
                if (key === "Enter") {
                    
                }

                else if (key === "Backspace") {
                    
                }

                else if (/^[A-Za-z-']$/.test(key)) {
                    if (currentGuess.length < solution.length) {
                        setCurrentGuess((prev) => {
                            return (prev + key); 
                        });
                    }
                }
            }

            React.useEffect(() => {
                window.addEventListener("keyup", handleKeyup);

                return () => {
                    window.removeEventListener("keyup", handleKeyup);
                };
            }, []);

            return (
                 <>
                    {solution && (
                        <>
                            <div>
                                <p>Solution: {solution}</p>
                                <p>Hint: {hint}</p>
                                <p>({solution.length} letters)</p>
                            </div>
                            <div>
                                Current guess: {currentGuess} ({currentGuess.length})
                            </div>
                        </>
                    )}
                </>
            );
        }

        ReactDOM.render(<App />, document.querySelector("#app"));
    </script>
{% endblock %}
