{% extends 'main/base.html' %}

{% block title %}
    About Aklish
{% endblock %}

{% block content %}
    <!-- About -->
    <article id="about" class="container">
        <!-- Title -->
        <h1 class="pb-3 mb-3 border-bottom">About Aklish</h1>

        <!-- Intro -->
        <section id="intro" class="mb-4">
            <p>
                Welcome to Aklish, your platform for crowdsourcing Aklanon-English translations and fostering language learning and cultural exchange.
            </p>
        </section>
        <!-- End intro -->

        <!-- Mission -->
        <section id="mission" class="mb-4">
            <h2>Our Mission</h2>

            <p>
                At Aklish, our mission is to bridge language barriers and celebrate linguistic diversity
                by empowering Aklanon speakers and foreign learners to contribute and engage with the Aklanon and English languages.
            </p>
        </section>
        <!-- End mission -->

        <!-- Features -->
        <section id="features" class="mb-4">
            <h2>Features</h2>

            <ul>
                <li>
                    <h3 class="fs-5 m-0">Crowdsourced Translations</h3>
                    <p>
                        Aklish allows users to add
                        text entries for translation or
                        contribute their translations to existing text entries.
                    </p>
                </li>
                <li>
                    <h3 class="fs-5 m-0">Aklanon-English Dictionary</h3>
                    <p>
                        Explore our comprehensive dictionary
                        to look up Aklanon and English words,
                        complete with definitions, parts of speech, examples, and more!
                    </p>
                </li>
                <li>
                    <h3 class="fs-5 m-0">Proofreading Tools</h3>
                    <p>
                        Our integrated proofreading tools help users
                        refine their Aklanon and English writing skills,
                        offering spelling suggestions tailored to both languages.
                    </p>
                </li>
                <li>
                    <h3 class="fs-5 m-0">Language Games</h3>
                    <p>
                        Aklish offers a variety of interactive games
                        like Wordle and Match designed
                        to reinforce language skills and vocabulary retention.
                    </p>
                </li>
            </ul>
        </section>
        <!-- End features -->

        <!-- Team -->
        <section id="team" class="mb-4">
            <h2>Meet the Team</h2>

            <div class="mb-2">
                <h3 class="fs-5 m-0">Andrian Lloyd Maagma</h3>
                <small>Student Researcher and Developer</small>
            </div>
        </section>
        <!-- End team -->

        <!-- Contribute -->
        <section id="contribute" class="mb-4">
            <h2>Get Involved</h2>

            <p>
                Join our community of language enthusiasts, educators, and learners!
                Whether you're a native speaker, a language learner,
                or simply passionate about linguistic diversity
                there are plenty of ways to get involved and contribute to Aklish.
            </p>
            <p>
                Thank you for being a part of the Aklish community!
            </p>
        </section>
        <!-- End contribute -->

    </article>
    <!-- End about -->
{% endblock %}