{% extends 'main/base.html' %}

{% block title %}
    Contact Aklish
{% endblock %}

{% block content%}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Contact</h1>
    </div>

    <div class="container mb-3">
        <div class="my-4">
            <p>
                Got questions, feedback, or suggestions? We'd love to hear from you! <br>
                Reach out to us at
                <a href="mailto:maagmaandrian@gmail.com">maagmaandrian@gmail.com</a>
                or <a href="mailto:salidodanizzagay@gmail.com">salidodanizzagay@gmail.com</a>
            </p>
        </div>
    </div>

{% endblock %}