{% extends 'main/base.html' %}

{% block title %}
    Contact Aklish
{% endblock %}

{% block content %}
    <!-- Contact -->
    <article id="contact" class="container">
        <!-- Title -->
        <h1 class="pb-3 mb-3 border-bottom">Contact</h1>

        <!-- Content -->
        <section id="content" class="mb-4">
            <div class="my-4">
            <p>
                Got questions, feedback, or suggestions?
                <br>
                Reach out at
                <a href="mailto:maagmaandrian@gmail.com" class="link-unstyled underline-hover">maagmaandrian@gmail.com</a>
            </p>
        </section>
        <!-- End Content -->
    </article>
    <!-- End contact -->
{% endblock %}