{% extends 'main/base.html' %}

{% load humanize %}

{% block title %}
    Aklish: The Aklanon & English platform where your words translate and are translated.
{% endblock %}

{% block content %}
    <!-- Title and tagline-->
    <div class="container text-center">
        <h1 class="display-1 fw-bold">Aklish</h1>
        <p class="m-0 lead fst-italic">
            The Aklanon & English platform where your<br>
            words translate and are translated.
        </p>
    </div>
    <!-- End title and tagline -->

    <hr>

    <!-- Call to action -->
    <div class="container mx-auto" style="max-width: 800px;">
        <div class="row g-3">
            <!-- Add entry -->
            <div class="col-sm">
                <div class="h-100 p-4 d-flex flex-column border rounded-4">
                    <h2 class="text-center fs-5 mb-3">
                        Imong hambae, their translation
                    </h2>

                    <textarea id="entry-text-example" name="content"
                    class="form-control mb-3 flex-grow-1"
                    placeholder="Start writing here."></textarea>

                    <a id="add-entry-example" href="{% url 'translate:add' %}" class="btn btn-primary">
                        Add an entry
                    </a>
                </div>
            </div>
            <!-- End add entry -->

            <!-- Translate entry -->
            <div class="col-sm">
                <div class="h-100 p-4 d-flex flex-column border rounded-4">
                    <h2 class="text-center fs-5 mb-3">
                        Their words, imong pagsalin
                    </h2>

                    <div class="mb-2">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-chat-left-quote-fill fs-1 m-1"></i>
                            <p class="p-1 m-0">Ro anwang nagaeungaeog sa eugan-eugan.</p>
                        </div>

                        <div class="d-flex align-items-center">
                            <i class="bi bi-chat-right-quote fs-1 m-1"></i>
                            <p class="p-1 m-0">The carabao is swimming in the mud.</p>
                        </div>
                    </div>

                    <a href="{% url 'translate:catalog' %}" class="btn btn-primary">
                        Translate an entry
                    </a>
                </div>
            </div>
            <!-- End translate entry -->
        </div>
    </div>
    <!-- End call to action -->

    <hr>

    <!-- Stats -->
    <div class="container p-3">
        <h2 class="text-center fs-4 mb-3">Contribute to our growing numbers!</h2>

        <div class="row">
            <div class="col text-center">
                <a href="{% url 'translate:add' %}" class="link-unstyled">
                    <p class="fs-2 mb-0">{{ entries.count }}</p>
                    <p class="fs-6">Entries</p>
                </a>
            </div>
            <div class="col text-center">
                <a href="{% url 'translate:catalog' %}" class="link-unstyled">
                    <p class="fs-2 mb-0">{{ translations.count }}</p>
                    <p class="fs-6">Translations</p>
                </a>
            </div>
            <div class="col text-center">
                <a href="{% url 'dictionary:catalog' 'akl' %}" class="link-unstyled">
                    <p class="fs-2 mb-0">{{ dict_entries.count }}</p>
                    <p class="fs-6">Words</p>
                </a>
            </div>
        </div>
    </div>
    <!-- End stats -->

    <hr>

    <!-- Featured -->
    <div class="p-3">
        <h2 class="text-center fs-4 mb-3">Featured</h2>

        <div class="row g-3">
            <!-- Proofreader -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 mb-1">Aklanon Spellchecker</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-2">proofreader</span>
                        </div>

                        <p class="card-text">
                            Are your Aklanon spellings correct?
                            <div class="p-2 text-center bg-body-tertiary rounded">
                                saea <u class="link-underline-danger">run</u> hay!
                            </div>
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'proofreader:index' 'akl' %}" class="btn btn-sm btn-primary">
                                Try now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of proofreader -->

            <!-- Wordle -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 mb-1">Aklanon Wordle</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-2">games</span>
                        </div>

                        <p class="card-text m-0">
                            Can you guess the secret Aklanon word in 6 turns?
                        </p>

                        <div class="px-2">
                            <div class="grid">
                                <div class="row d-flex">
                                    <div class="misplaced">K</div>
                                    <div class="misplaced">A</div>
                                    <div class="absent">L</div>
                                    <div class="correct">A</div>
                                    <div class="correct">N</div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'games:wordle' 'akl' %}" class="btn btn-sm btn-primary">
                                Play now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of wordle -->

            <!-- Match -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 mb-1">Aklanon Match</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-2">games</span>
                        </div>

                        <p class="card-text">
                            Can you identify the synonym of an Aklanon word?
                            <div class="p-2 d-flex justify-content-center bg-body-tertiary rounded">
                                <button class="btn btn-sm btn-outline-primary rounded-pill">
                                    bahoe
                                </button>
                                <button class="btn btn-sm btn-danger rounded-pill mx-1">
                                    isot
                                </button>
                                <button class="btn btn-sm btn-outline-success rounded-pill">
                                    eagko
                                </button>
                            </div>
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'games:match' 'akl' %}" class="btn btn-sm btn-primary">
                                Play now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of match -->

            <!-- Leaderboard -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 mb-1">Top Users</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-2">users</span>
                        </div>

                        <p class="card-text">
                            Thanks to all contributors!
                            {% for user in top_users %}
                                <div>
                                    <span class="me-1">#{{ forloop.counter }}</span>
                                    <a href="{% url 'users:profile' user.pk user.username %}" class="text-decoration-none">
                                        <i class="bi bi-person"></i>
                                        {{ user.username }}
                                    </a>
                                </div>
                            {% endfor %}
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'users:index' %}"class="btn btn-sm btn-primary">
                                See leaderboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of leaderboard -->
        </div>
    </div>
    <!-- End of featured -->

    <script>
        const addEntryExample = document.querySelector("#add-entry-example");
        const entryTextExample = document.querySelector("#entry-text-example");

        addEntryExample.addEventListener("click", (event) => {
            localStorage.setItem("proofreaderTextInput", entryTextExample.value)
        })
    </script>
{% endblock %}