{% extends 'main/base.html' %}

{% block title %}
    Aklish Sources
{% endblock %}

{% block content %}
    <!-- Sources -->
    <article id="sources" class="container">
        <!-- Title -->
        <h1 class="pb-3 mb-3 border-bottom">Sources</h1>

        <!-- Content -->
        <section id="content">
            <p>Our main data sources are (in random order):</p>

            <!-- List of sources -->
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://eric.ed.gov/?id=ED145705" class="link-unstyled underline-hover">
                        A Study of the Aklanon Dialect. Volume One: Grammar.
                    </a><br>
                    <small>
                        Zorc, R. D. P., & de la Cruz, B. A. (1968)
                    </small>
                </li>
                <li class="list-group-item">
                    <a href="https://files.eric.ed.gov/fulltext/ED145704.pdf" class="link-unstyled underline-hover">
                        A Study of the Aklanon Dialect. Volume Two: Dictionary (of root words and derivations) Aklanon to English.
                    </a><br>
                    <small>
                        Reyes, V. S., Zorc, R. D. P., & Prado, N. L. (1969)
                    </small>
                </li>
                <li class="list-group-item">
                    <a href="https://acd.clld.org/languages/226" class="link-unstyled underline-hover">
                        ACD - Austronesian Comparative Dictionary Online
                    </a><br>
                    <small>
                        Blust, R., Trussel, S., Smith, A. D. & Forkel, R. (Accessed 2024)
                    </small>
                </li>
                <li class="list-group-item">
                    <a href="https://www.ibiblio.org/webster/" class="link-unstyled underline-hover">
                        The GNU version of The Collaborative International Dictionary of English, presented in the Extensible Markup Language
                    </a><br>
                    <small>
                        Dyck, M. (2022)
                    </small>
                </li>
            </ul>
            <!-- End list of sources -->

            <p class="mt-4">Thank you.</p>
        </section>
        <!-- End content -->
    </article>
    <!-- End sources -->
{% endblock %}