{% extends 'translations/base.html' %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Add an entry</h1>
    </div>
    <div class="container mb-3">
        <form action="{% url 'translations:add' %}" method="POST">
            {% csrf_token %}
            <div class="form-group mb-3 border-bottom">
                <label for="lang" class="fw-bold mb-2">Language</label>
                <select name="lang" id="lang" class="form-select mb-2">
                    <option value="akl">Aklanon</option>
                    <option value="eng">English</option>
                </select>
                <label for="content" class="fw-bold mb-2">Content</label>
                <div id="proofreader-field"></div>
            </div>
            <input type="submit" value="Add entry" class="btn btn-primary">
        </form>
    </div>
{% endblock %}