{% extends 'translations/base.html' %}

{% block content %}
    <div class="container d-flex align-items-center pb-3 mb-3 border-bottom">
        <div class="flex-grow-1">
            <h1>Entries</h1>
        </div>
        <div>
            <a href="{% url 'translations:search' %}" class="btn btn-primary">Search</a>
            <a href="{% url 'translations:add' %}" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="container">
        {% for entry in entries %}
            <div class="card mb-3">
                <div class="card-body">
                    <small class="card-subtitle text-muted">
                        <span class="me-1">{{ entry.translations.count }} translations</span>
                        <span class="me-1"></span>{{ entry.bookmarks.count }} bookmarks</span>
                    </small>

                    <h2 class="card-title mb-3 fs-6 fw-normal">
                        <a href="{% url 'translations:entry' entry.id %}" class="text-decoration-none">
                            {{ entry.content|slice:125 }}...
                        </a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <span class="badge bg-primary p-2">{{ entry.lang.name }}</span>
                        </div>
                        <div class="text-muted">
                            <small class="mx-1">
                                <a href="{% url 'user:profile' entry.user.id entry.user.username %}"
                                class="text-decoration-none">{{ entry.user.username }}</a>
                            </small>
                            <small class="mx-1">{{ entry.created_at|date:"d M y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            No entries
        {% endfor %}
    </div>
{% endblock %}