{% extends 'translations/base.html' %}

{% block content %}
    <div class="container d-flex pb-3 mb-4 border-bottom">
        <div class="me-3 text-center">
            <form action="{% url 'translations:bookmark' entry.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                    {% if bookmarked %}
                        <button type="submit" class="btn btn-sm">
                            <i class="bi bi-bookmark-fill text-primary"></i>
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-sm">
                           <i class="bi bi-bookmark text-primary"></i>
                        </button>
                    {% endif %}
                {% else %}
                    <button type="submit" class="btn btn-sm">
                        <i class="bi bi-bookmark text-secondary"></i>
                    </button>
                {% endif %}
                <div class="my-1">{{ entry.bookmarks.count }}</div>
            </form>
        </div>
        
        <div class="flex-grow-1">
            <p class="fs-5">{{ entry.content }}</p>

            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <span class="badge bg-primary p-2">{{ entry.lang.name }}</span>
                </div>
                <div class="text-muted">
                    <small class="me-3">
                        by
                        <a href="{% url 'users:profile' entry.user.id entry.user.username %}"
                        class="text-decoration-none">{{ entry.user.username }}</a>
                        <span class="fw-bold">{{ entry.user.profile.reputation }}</span>
                    </small>
                    <small>on {{ entry.created_at|date:"d M y" }}</small>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="h5 mb-4">{{ translations_votes|length }} Translations</h2>
        {% for translation, vote in translations_votes %}
            <div class="container d-flex pb-3 mb-4 border-bottom">
                <div class="me-3 text-center">
                    <form action="{% url 'translations:vote' translation.pk %}" method="POST">
                        {% csrf_token %}
                        {% if vote %}
                            {% if vote.direction == 1 %}
                                <button type="submit" name="upvote" value="1"
                                class="btn btn-sm btn-primary rounded-circle">
                                    <i class="bi bi-caret-up-fill"></i>
                                </button>
                            {% else %}
                                <button type="submit" name="upvote" value="1"
                                class="btn btn-sm btn-outline-primary rounded-circle">
                                    <i class="bi bi-caret-up-fill"></i>
                                </button>
                            {% endif %}
                            <div class="my-1">{{ translation.vote_count }}</div>
                            {% if vote.direction == -1 %}
                                <button type="submit" name="downvote" value="-1"
                                class="btn btn-sm btn-primary rounded-circle">
                                    <i class="bi bi-caret-down-fill"></i>
                                </button>
                            {% else %}
                                <button type="submit" name="downvote" value="-1"
                                class="btn btn-sm btn-outline-primary rounded-circle">
                                    <i class="bi bi-caret-down-fill"></i>
                                </button>
                            {% endif %}
                        {% else %}
                            <button type="submit" class="btn btn-sm btn-outline-secondary rounded-circle">
                                <i class="bi bi-caret-up-fill"></i>
                            </button>
                            <div class="my-1">{{ translation.vote_count }}</div>
                            <button type="submit"  class="btn btn-sm btn-outline-secondary rounded-circle">
                                <i class="bi bi-caret-down-fill"></i>
                            </button>
                        {% endif %}
                    </form>
                </div>
                <div class="flex-grow-1">
                    <p>{{ translation.content }}</p>

                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <span class="badge bg-primary p-2">{{ translation.lang.name }}</span>
                        </div>
                        <div class="text-muted">
                            <small class="me-3">
                                by
                                <a href="{% url 'users:profile' entry.user.id entry.user.username %}"
                                class="text-decoration-none">{{ translation.user.username }}</a>
                                <span class="fw-bold">{{ translation.user.profile.reputation }}</span>
                            </small>
                            <small>on {{ translation.created_at|date:"d M y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="container pb-3 mb-4 border-bottom">
                No translations
            </div>
        {% endfor %}
    </div>

    <div class="container w-75 pb-3 mb-3">
        <h2 class="h5 mb-3">Add translation</h2>
        <form action="{% url 'translations:entry' entry.id %}" method="POST" id="add-translation">
            {% csrf_token %}
            <input type="hidden" name="entry_lang" value="{{ entry.lang }}" id="entry_lang">
            <div class="form-group pb-3 mb-3">
                <label for="lang" class="mb-2">Language</label>
                {{ form.lang }}
                <label for="content" class="mb-2">Content</label>
                {{ form.content }}
                <input type="checkbox" name="reverse" id="reverse">
                <label for="reverse">Also add translation as entry</label>
            </div>
            <input type="submit" value="Add Translation" class="btn btn-primary">
        </form>
    </div>

    <script>
        const targetSelect = document.querySelector("#lang")
        const sourceLang = document.querySelector("#entry_lang")
    
        for (let option of targetSelect.options) {
            option.disabled = option.innerHTML === sourceLang.value
        }
    </script>
{% endblock %}