{% extends 'translations/base.html' %}

{% block content %}
    <div class="container pb-3 mb-4 border-bottom">
        <p class="fs-5">{{ entry.content }}</p>

        <div class="d-flex align-items-center">
            <div class="flex-grow-1">
                <span class="badge bg-primary p-2">{{ entry.lang.name }}</span>
            </div>
            <div class="text-muted">
                <small class="mx-1">
                    <a href="{% url 'user:profile' entry.user.id entry.user.username %}"
                    class="text-decoration-none">{{ entry.user.username }}</a>
                </small>
                <small class="mx-1">{{ entry.created_at|date:"d M y" }}</small>
            </div>
        </div>
    </div>

    <div class="container pb-3 mb-5 border-bottom">
        <h2 class="h5 mb-3">{{ translations.count }} translations</h2>
        {% for translation in translations %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">
                        {{ translation.content }}
                    </p>

                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <span class="badge bg-primary p-2">{{ translation.lang.name }}</span>
                        </div>
                        <div class="text-muted">
                            <small class="mx-1">
                                <a href="{% url 'user:profile' translation.user.id translation.user.username %}"
                                class="text-decoration-none">{{ translation.user.username }}</a>
                            </small>
                            <small class="mx-1">{{ translation.created_at|date:"d M y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            No translations
        {% endfor %}
    </div>

    <div class="container w-75 pb-3 mb-3">
        <h2 class="h5 mb-3">Add translation</h2>
        <form action="{% url 'translations:entry' entry.id %}" method="POST" id="add-translation">
            {% csrf_token %}
            <input type="hidden" name="entry_lang" value="{{ entry.lang }}" id="entry_lang">
            <div class="form-group pb-3 mb-3">
                <label for="lang" class="mb-2">Language</label>
                {{ form.lang }}
                <label for="content" class="mb-2">Content</label>
                {{ form.content }}
                <input type="checkbox" name="reverse" id="reverse">
                <label for="reverse">Also add translation as entry</label>
            </div>
            <input type="submit" value="Add Translation" class="btn btn-primary">
        </form>
    </div>

    <script>
        const targetSelect = document.querySelector("#lang")
        const sourceLang = document.querySelector("#entry_lang")
    
        for (let option of targetSelect.options) {
            option.disabled = option.innerHTML === sourceLang.value
        }

        document.querySelector("#add-translation").onsubmit = () => {
            document.querySelector("#content").value = ""
        }
    </script>
{% endblock %}