{% extends "translations/layout.html" %}

{% block content %}
    <div class="container p-0 mb-3">
        <h6 class="mb-2">Translations of</h6>
        <h3>{{ entry.content }}</h3>
        <p class="small">{{ entry.lang.name }} | {{ entry.user.username }}</p>
    </div>

    <form class="d-flex align-items-center mb-3" action="{% url 'translations:entry' entry.id %}" method="POST">
        {% csrf_token %}
        <input name="lang" value="{{ entry.lang.code }}" type="hidden" id="lang">
        <input name="content" value="{{ entry.content }}" type="hidden">
    
        <select name="translation_lang" id="translation_lang" class="form-select me-2" style="width: 200px">
            {% if entry.lang.code == 'eng' %}
                <option value="akl" selected>Aklanon</option>
                <option value="eng" disabled>English</option>
            {% elif entry.lang.code == 'akl' %}
                <option value="akl" disabled >Aklanon</option>
                <option value="eng" selected>English</option>
            {% endif %}
        </select>
        <input name="translation_content" type="text" class="form-control me-2">
        <input type="submit" value="Add" class="btn btn-primary">
    </form>

    <table class="table table-hover mb-3 align-middle border-top">
        <tbody>
            {% for translation in translations %}
                <tr scope="row">
                    <td>
                        {{ translation.content }}
                    </td>
                    <td class="text-end">
                        {{ translation.lang.name }}
                    </td>
                    <td class="text-end">
                        {{ translation.user.username }}
                    </td>
                </tr>
            {% empty %}
                <tr scope="row">
                    <td>No translations</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}