{% extends "translations/layout.html" %}

{% block content %}
    <div class="container text-center py-5 my-5 border-bottom">
        <h1 class="display-1 fw-bold">
            Aklish
        </h1>
        <p class="lead fst-italic">From Lingua Franca to Mother Tongue</p>
    </div>

    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ text_count }}</p>
                <p class="fs-5">Texts</p>
            </div>
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ translation_count }}</p>
                <p class="fs-5">Translations</p>
            </div>
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ word_count }}</p>
                <p class="fs-5">Words defined</p>
            </div>
        </div>
    </div>
{% endblock %}