{% extends 'translations/base.html' %}

{% block title %}
    Aklish: From Lingua Franca to Mother Tongue
{% endblock %}

{% block content %}
    <div class="container text-center py-5 mb-5 border-bottom">
        <h1 class="display-1 fw-bold">Aklish</h1>
        <p class="lead fst-italic">From Lingua Franca to Mother Tongue</p>
    </div>

    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ entries.count }}</p>
                <p class="fs-5">Entries</p>
            </div>
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ translations.count }}</p>
                <p class="fs-5">Translations</p>
            </div>
            <div class="col-sm text-center">
                <p class="fs-1 mb-0">{{ dict_entries.count }}</p>
                <p class="fs-5">Words defined</p>
            </div>
        </div>
    </div>
{% endblock %}