{% extends "translations/layout.html" %}

{% block content %}
    <h1>Translations</h1>
    <ul>
        {% for translation in translations %}
            <li>
                <a href="{% url 'translations:translation_entry' translation.id %}">{{ translation }}</a>
            </li>
        {% empty %}
            <li>No entries</li>
        {% endfor %}
    </ul>
    <a href="{% url 'translations:texts' %}">View texts</a>
    <a href="{% url 'translations:search' %}">Search</a>
    <a href="{% url 'translations:add' %}">Add</a>
{% endblock %}