{% load translate_tags %}

<div class="pb-3 mb-3">
    <h2 class="h5">
        {{ title }}
    </h2>
    <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item d-flex align-items-center">
                <!-- Content -->
                <a href="{% url 'translate:entry' entry.pk %}"
                    class="me-auto text-decoration-none"
                >
                    {{ entry.content|slice:100 }}...
                </a>

                {% if request.user == user %}
                    <!-- Actions -->
                    <div class="d-flex flex-nowrap">
                        {% with class_name=entry|get_class_name|lower %}
                            <!-- Edit button -->
                            <a href="{% url 'translate:edit_'|add:class_name entry.pk %}"
                                class="btn-unstyled me-2" title="Edit" aria-label="Edit"
                            >
                                <i class="bi bi-pen"></i>
                            </a>

                            <!-- Delete button -->
                            <form action="{% url 'translate:delete_'|add:class_name %}?next={{ request.path }}"  method="POST">
                                {% csrf_token %}

                                <button name="{{ class_name|add:'_pk' }}" value="{{ entry.pk }}"
                                class="btn-unstyled" title="Delete" aria-label="Delete"
                                >
                                    <i class="bi bi-trash text-danger"></i>
                                </button>
                            </form>
                        {% endwith %}
                    </div>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">
                No entries
            </li>
        {% endfor %}
    </ul>
</div>