{% extends 'users/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>About User Reputation</h1>
    </div>

    <div class="container pb-3 mb-3">
        <h3>What is reputation?</h3>
        <ul>
            <li class="mb-2">
                It is a rough measurement of how much the community trusts you.
            </li>
            <li class="mb-2">
                It is displayed next to your username.
            </li>
        </ul>
        <h4>You earn reputation when:</h4>
        <ul>
            <li class="mb-2">
                add an entry or translation: +1
            </li>
            <li class="mb-2">
                entry is bookmarked: +2
            </li>
            <li class="mb-2">
                translation is upvoted: +10
            </li>
            <li class="mb-2">
                translation is well-proofread: x correctness %
            </li>
        </ul>
        <h4>You lose reputation when:</h4>
        <ul>
            <li class="mb-2">
                translation is downvoted: -5
            </li>
            <li class="mb-2">
                translation is not well-proofread: x correctness %
            </li>
        </ul>
        <h4>Reputation priviliges</h4>
        <ul>
            <li class="mb-2">
                10 or more: access dictionary defintions, parts of speech and more.
            </li>
            <li class="mb-2">
                20 or more: play games.
            </li>
            <li class="mb-2">
                30 or more: add examples to dictionary entries.
            </li>
        </ul>
        Rise the ranks now!
    </div>
{% endblock %}