{% extends 'users/profile_base.html' %}

{% block body %}
    <div class="pb-3 mb-3">
        <h2 class="h5">
            Bookmarks
        </h2>
        <ul class="list-group">
            {% for entry in user.bookmarks.all %}
                <li class="list-group-item d-flex align-items-center">
                    <a href="{% url 'translations:entry' entry.pk %}"
                    class="me-auto text-decoration-none">
                        {{ entry.content|slice:100 }}...
                    </a>
                    {% if request.user == user %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="entry_to_unbookmark_pk" value="{{ entry.pk }}">
                            <input type="submit" name="remove_bookmark" value="Remove"
                            class="btn btn-sm btn-danger">
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item">
                    No bookmarks
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pb-3 mb-3">
        <h2 class="h5">
            Votes
        </h2>
        <ul class="list-group">
            {% for vote in user.votes.all %}
                <li class="list-group-item d-flex align-items-center">
                    <a href="{% url 'translations:entry' vote.translation.entry.pk %}"
                    class="me-auto text-decoration-none">
                        {{ vote.translation.content|slice:100 }}...
                    </a>
                    {% if request.user == user %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="vote_to_unvote_pk" value="{{ vote.pk }}">
                            <input type="submit" name="remove_vote" value="Remove"
                            class="btn btn-sm btn-danger">
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item">
                    No votes
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}