{% extends 'users/profile_base.html' %}

{% block body %}
    <div class="pb-3 mb-3">
        <h2 class="h5">
            Entries
        </h2>
        <ul class="list-group">
            {% for entry in user.entries.all %}
                <li class="list-group-item d-flex align-items-center">
                    <a href="{% url 'translations:entry' entry.pk %}"
                    class="me-auto text-decoration-none">
                        {{ entry.content|slice:100 }}...
                    </a>
                    {% if request.user == user %}
                        <div class="d-flex flex-nowrap">
                            <a href="{% url 'translations:edit_entry' entry.pk %}"
                            class="ms-3 text-decoration-none">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a href="{% url 'translations:delete_entry' entry.pk %}?next={{ request.path }}"
                            class="text-danger ms-3 text-decoration-none">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item">
                    No entries
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pb-3 mb-3">
        <h2 class="h5">
            Translations
        </h2>
        <ul class="list-group">
            {% for translation in user.translations.all %}
                <li class="list-group-item d-flex align-items-center">
                    <a href="{% url 'translations:entry' translation.entry.pk %}"
                    class="me-auto text-decoration-none">
                        {{ translation.content|slice:100 }}...
                    </a>
                    {% if request.user == user %}
                        <div class="d-flex flex-nowrap">
                            <a href="{% url 'translations:edit_translation' translation.pk %}"
                            class="ms-3 text-decoration-none">
                                <i class="bi bi-pen"></i>
                            </a>
                            <a href="{% url 'translations:delete_translation' translation.pk %}?next={{ request.path }}"
                            class="text-danger ms-3 text-decoration-none">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% empty %}
                <li class="list-group-item">
                    No translations
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}