{% extends 'users/base.html' %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Survey</h1>
    </div>

    <div class="row container pb-3 mb-3">
        <!-- <form action="" method="POST">
            {% for item in items %}
                <div class="mb-4">
                    <div class="mb-1">
                        {{ item }}
                    </div>
                    
                    <div class="mb-1">
                        {% for option in options %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="item{{ forloop.parentloop.counter }}" 
                                    id="option{{ option }}" value="{{ option }}"/>
                                <label class="form-check-label" for="option{{ option }}">{{ option }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Submit</button>
            </div>
        </form> -->
    </div>
{% endblock %}