<!DOCTYPE html>

<html lang="en" data-bs-theme="light">

<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content="index, follow">
    <title>{% block title %} Aklish {% endblock %}</title>
    <meta
        name="description"
        content="{% block description %}Aklish is the Aklanon & English website where your words translate and are translated.{% endblock %}"
    >

    <!-- Load static -->
    {% load static %}
    <link rel="icon" href="{% static 'images/logo.svg' %}" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">

    {% block head_additional %}{% endblock %}

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WNR7JSMPJ7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());

    gtag("config", "G-WNR7JSMPJ7");
</script>

<body class="d-flex flex-column vh-100">

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg border-0 py-3 mb-3">
            <div class="container-fluid px-lg-5 px-4">
                <!-- Brand -->
                <a href="{% url 'main:homepage' %}" class="navbar-brand p-0 pb-lg-0 pb-2">
                    <img src="{% static 'images/logo.svg' %}" alt="Aklish" width="45" height="auto">
                </a>
                <!-- End brand -->

                <!-- Menu button -->
                <button class="navbar-toggler border-0 shadow-none" data-bs-toggle="collapse" data-bs-target="#navbar-contents" aria-label="Navbar toggle">
                    <i class="bi bi-list"></i>
                </button>
                <!-- End menu button -->

                <!-- Navbar contents -->
                <div class="collapse navbar-collapse" id="navbar-contents">
                    <!-- Sections -->
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a href="{% url 'translate:catalog' %}" class="nav-link d-flex">
                                Entries
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'dictionary:index' %}" class="nav-link d-flex">
                                Dictionary
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'users:index' %}" class="nav-link d-flex">
                                Users
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                                Tools
                            </a>
                            <ul class="dropdown-menu mb-2">
                                <li><a href="{% url 'proofreader:index' 'akl' %}" class="dropdown-item">
                                    Proofreader
                                </a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown">
                                Games
                            </a>
                            <ul class="dropdown-menu mb-2">
                                <li><a href="{% url 'games:wordle' 'akl' %}" class="dropdown-item">
                                    Wordle
                                </a></li>
                                <li><a href="{% url 'games:match' 'akl' %}" class="dropdown-item">
                                    Match
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End sections -->

                    <!-- Search -->
                    <div class="w-100 mx-2 d-flex justify-content-center py-lg-0 py-2">
                        {% url 'translate:catalog' as catalog_url %}
                        {% include "components/search.html" with url=catalog_url placeholder='Search entries' style='max-width: 400px;' %}
                    </div>
                    <!-- End search -->

                    <!-- User actions -->
                    <ul class="navbar-nav d-flex flex-row align-items-center justify-content-center">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'users:profile' request.user.id request.user.username %}"
                                    class="nav-link d-flex"
                                >
                                    Profile
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item m-1">
                                <a href="{% url 'users:login' %}?next={{ request.path }}"
                                    class="btn btn-sm btn-outline-primary text-nowrap"
                                >
                                    Sign in
                                </a>
                            </li>
                            <li class="nav-item active m-1">
                                <a href="{% url 'users:register' %}"
                                    class="btn btn-sm btn-primary text-nowrap"
                                >
                                    Sign up
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- End user actions -->

                    <!-- Color mode toggle -->
                    <div class="d-flex justify-content-center m-2">
                        <button id="switch-theme" class="btn-unstyled p-0" title="Switch theme" aria-label="Switch theme">
                            <i class="bi"></i>
                        </button>
                    </div>
                    <!-- End color mode toggle -->
                </div>
                <!-- End navbar contents -->
            </div>
        </nav>
        <!-- End Navbar -->
    </header>

    <!-- Main -->
    <main class="container" style="margin-bottom: 120px;">
        {% block main %}
        {% endblock %}
    </main>
    <!-- End main -->

    <!-- Footer -->
    <footer class="mt-auto text-center text-muted border-top">
        <!-- Actions -->
        <div class="container p-3 mt-3 text-md-start">
            <div class="row mt-3">
                <!-- About -->
                <div class="col-md-4 mx-auto mb-4">
                    <h1 class="fs-3 text-uppercase fw-bold mb-3">
                        <a href="{% url 'main:homepage' %}"
                            class="link-unstyled text-primary p-0 pb-lg-0 pb-2"
                        >
                            <img src="{% static 'images/logo.svg' %}" alt="Aklish" width="36" height="auto" class="me-1">
                            Aklish
                        </a>
                    </h1>
                    <p>
                        The Aklanon & English platform where
                        <br>
                        your words translate and are translated.
                    </p>
                </div>
                <!-- End about -->

                <!-- Links -->
                <div class="col-md-4 mx-auto mb-4">
                    <h1 class="fs-6 text-uppercase fw-bold mb-4">
                        <a href="{% url 'main:about' %}" class="underline-hover">
                            About
                        </a>
                    </h1>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="{% url 'main:sources' %}" class="link-unstyled underline-hover">Sources</a>
                        </li>
                        <li>
                            <a href="{% url 'main:help' %}" class="link-unstyled underline-hover">Help</a>
                        </li>
                    </ul>
                </div>
                <!-- End links -->

                <!-- Contact -->
                <div class="col-md-4 mx-auto mb-4">
                    <h1 class="fs-6 text-uppercase fw-bold mb-4">
                        <a href="{% url 'main:contact' %}" class="underline-hover">
                            Contact
                        </a>
                    </h1>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <i class="bi bi-house me-1"></i>
                            Aklan, Philippines
                        </li>
                        <li>
                            <i class="bi bi-envelope me-1"></i>
                            <a href="mailto:maagmaandrian@gmail.com" class="link-unstyled underline-hover">
                                maagmaandrian@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End contact -->
            </div>
        </div>
        <!-- End actions -->

        <!-- Copyright -->
        <div class="fw-bold p-1 mb-4">© 2024 Aklish.com</div>
        <!-- End copyright -->
    </footer>
    <!-- End footer -->

    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const switchTheme = document.querySelector("#switch-theme");

            // Function to toggle the theme between light and dark
            const toggleTheme = () => {
                const htmlElement = document.documentElement;
                if (htmlElement.dataset.bsTheme === "light") {
                    htmlElement.dataset.bsTheme = "dark";
                    switchTheme.querySelector("i").className = "bi bi-moon-fill text-muted";
                    localStorage.setItem("theme", "dark");
                } else {
                    htmlElement.dataset.bsTheme = "light";
                    switchTheme.querySelector("i").className = "bi bi-sun-fill text-muted";
                    localStorage.setItem("theme", "light");
                }
            };

            // Function to apply the theme based on the local storage or system preference
            const setTheme = () => {
                const htmlElement = document.documentElement; // Define htmlElement here
                const storedTheme = localStorage.getItem("theme");

                // If there is a stored theme in localStorage, use it
                if (storedTheme) {
                    htmlElement.dataset.bsTheme = storedTheme;
                    switchTheme.querySelector("i").className = storedTheme === "light" ? "bi bi-sun-fill text-muted" : "bi bi-moon-fill text-muted";
                } else {
                    // If no theme is stored, apply the system preference
                    const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;
                    const theme = prefersDarkScheme ? "dark" : "light";
                    htmlElement.dataset.bsTheme = theme;
                    switchTheme.querySelector("i").className = prefersDarkScheme ? "bi bi-moon-fill text-muted" : "bi bi-sun-fill text-muted";
                }
            };

            // Event listener for theme switch
            switchTheme.addEventListener("click", () => {
                toggleTheme();
            });

            // Set the theme on page load
            setTheme();
        });
    </script>

</body>

</html>