{% extends 'translate/base.html' %}

{% block title %}
    Add an Entry to Aklish
{% endblock title %}

{% block content %}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Add an entry</h1>
    </div>

    <!-- Add entry guide -->
    <div class="container">
        <div class="alert py-1 px-2 alert-info alert-dismissible show" role="alert">
            <small>
                Please review this
                <a href="{% url 'main:help' 'adding_guide' %}" class="text-reset">guide</a>
                before adding any entry.
            </small>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- End add entry guide -->

    <!-- Add entry form -->
    <div class="container">
        {% if message %}
            <div class="alert alert-warning px-2 py-1" role="alert">
                {{ message }}
            </div>
        {% endif %}

        <form action="{% url 'translate:add' %}" method="POST">
            {% csrf_token %}

            <div class="form-group mb-3">
                <label for="lang" class="fw-bold mb-2">Language</label>
                <select name="lang" id="lang" class="form-select mb-2">
                    <option value="akl">Aklanon</option>
                    <option value="eng">English</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="content" class="fw-bold mb-2">Content</label>
                <div id="proofreader-field"></div>
            </div>

            <button class="btn btn-primary">Add entry</button>
        </form>
    </div>
    <!-- End add entry form -->
{% endblock %}