{% extends 'translate/base.html' %}

{% load humanize %}
{% load translate_tags %}

{% block title %}
    "{{ entry.content|slice:25 }}..." - Aklish Entry
{% endblock title %}

{% block content %}
    <!-- Entry -->
    <div class="container d-flex pb-3 mb-4 border-bottom">
        <!-- Bookmark button -->
        <div class="me-3 text-center">
            <form action="{% url 'translate:bookmark' entry.pk %}" method="POST">
                {% csrf_token %}

                <button class="btn-icon p-0 border-0 shadow-none" title="Bookmark" aria-label="Bookmark"
                    {% if request.user == entry.user %} disabled {% endif %}
                >
                    <i class="bi bi-bookmark{% if bookmarked %}-fill{% endif %} text-primary"></i>
                </button>
                <div class="my-1">{{ entry.bookmarks.count }}</div>
            </form>
        </div>
        <!-- End bookmark button -->

        <div class="flex-grow-1">
            <!-- Entry content -->
            {{ entry.content|linebreaks }}
            <!-- End entry content -->

            <!-- Entry details -->
            {% include "translate/components/entry_footer.html" with entry=entry %}
            <!-- End entry details -->
        </div>
    </div>
    <!-- End entry -->

    <!-- Translations -->
    <div>
        <h2 class="h5 mb-4">{{ translations_votes|length }} Translations</h2>

        <!-- List of translations -->
        {% for translation in translations %}
            <div class="container d-flex pb-3 mb-4 border-bottom">
                <!-- Vote buttons -->
                <div class="me-3 text-center">
                    <form action="{% url 'translate:vote' translation.pk %}" method="POST">
                        {% csrf_token %}

                        {% with vote=translation|get_user_vote:request.user %}
                            <!-- Upvote -->
                            <button name="direction" value="1"
                                class="btn btn-sm btn{% if vote.direction != 1 %}-outline{% endif %}-primary rounded-circle"
                                title="Upvote" aria-label="Upvote"
                                {% if request.user == translation.user %} disabled {% endif %}
                            >
                                <i class="bi bi-caret-up-fill"></i>
                            </button>

                            <!-- Vote count -->
                            <div class="my-1">{{ translation.vote_count }}</div>

                            <!-- Downvote -->
                            <button name="direction" value="-1"
                                class="btn btn-sm btn{% if vote.direction != -1 %}-outline{% endif %}-primary rounded-circle"
                                title="Downvote" aria-label="Downvote"
                                {% if request.user == translation.user %} disabled {% endif %}
                            >
                                <i class="bi bi-caret-down-fill"></i>
                            </button>
                        {% endwith %}
                    </form>
                </div>
                <!-- End vote buttons -->

                <div class="flex-grow-1">
                    <!-- Translation content -->
                    {{ translation.content|linebreaks }}
                    <!-- End translations content -->

                    {% include "translate/components/entry_footer.html" with entry=translation %}
                </div>
            </div>
        {% empty %}
            <div class="container pb-3 mb-4 border-bottom">
                No translations
            </div>
        {% endfor %}
        <!-- List of translations -->
    </div>
    <!-- End translations -->

    <!-- Translation guide -->
    <div class="container">
        <div class="alert py-1 px-2 alert-info alert-dismissible show" role="alert">
            <small>
                Please review this
                <a href="{% url 'main:help' 'translating_guide' %}" class="text-reset">guide</a>
                before translating any entry.
            </small>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <!-- End translations guide -->

    <!-- Add translation -->
    <div class="container">
        <div class="col-md">
            <h2 class="h5 mb-3">Add translation</h2>

            {% if message %}
                <div class="alert alert-warning px-2 py-1" role="alert">
                    {{ message }}
                </div>
            {% endif %}

            <form action="{% url 'translate:entry' entry.id %}" method="POST" id="add-translation">
                {% csrf_token %}

                <input type="hidden" name="entry_lang" value="{{ entry.lang.code }}" id="entry-lang">

                <div class="form-group mb-3">
                    <label for="lang" class="fw-bold mb-2">Language</label>
                    <select name="lang" id="lang" class="form-select mb-2">
                        <option value="akl">Aklanon</option>
                        <option value="eng">English</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="content" class="fw-bold mb-2">Content</label>
                    <div id="proofreader-field"></div>
                </div>

                <div class="form-group mb-3">
                    <input type="checkbox" name="reverse" id="reverse">
                    <label for="reverse">Also add translation as entry</label>
                </div>

                <button class="btn btn-primary">Add translation</button>
            </form>
        </div>
    </div>
    <!-- End add translation -->

    <script>
        const translationLangSelect = document.querySelector("#lang");
        const entryLang = document.querySelector("#entry-lang");

        for (const option of translationLangSelect.options) {
            option.selected = option.value !== entryLang.value;
            option.disabled = option.value === entryLang.value;
        }
    </script>
{% endblock %}