{% extends 'translate/base.html' %}

{% load humanize %}

{% block title %}
    "{{ entry.content|slice:25 }}..." - Aklish Entry
{% endblock title %}

{% block content %}
    <div class="container d-flex pb-3 mb-4 border-bottom">
        <div class="me-3 text-center">
            <form action="{% url 'translate:bookmark' entry.pk %}" method="POST">
                {% csrf_token %}
                {% if request.user.is_authenticated and request.user != entry.user %}
                    <button type="submit" class="btn btn-sm" aria-label="Bookmark">
                        <i class="bi bi-bookmark{% if bookmarked %}-fill{% endif %} text-primary"></i>
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-sm" aria-label="Bookmark">
                        <i class="bi bi-bookmark text-secondary"></i>
                    </button>
                {% endif %}
                <div class="my-1">{{ entry.bookmarks.count }}</div>
            </form>
        </div>

        <div class="flex-grow-1">
            {{ entry.content|linebreaks }}

            <div class="d-flex align-items-center justify-content-between">
                <div class="me-auto">
                    <small class="me-1"><strong>{{ entry.correctness }}%</strong></small>
                    <span class="badge bg-primary">{{ entry.lang.name }}</span>
                </div>
                <div class="d-flex flex-wrap justify-content-end text-muted">
                    <small class="text-nowrap ms-3">
                    {% if entry.user == request.user %}
                        <a href="{% url 'translate:edit_entry' entry.pk %}" aria-label="Edit">
                            <i class="bi bi-pen"></i>
                        </a>
                    {% else %}
                        <i class="bi bi-pen" aria-label="Edit"></i>
                    {% endif %}
                    </small>
                    <small class="text-nowrap ms-3">
                        by
                        <a href="{% url 'users:profile' entry.user.id entry.user.username %}"
                        class="text-decoration-none">{{ entry.user.username }}</a>
                        <span class="fw-bold">{{ entry.user.profile.reputation }}</span>
                    </small>
                    <small class="text-nowrap ms-3">{{ entry.modified_at|naturaltime }}</small>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2 class="h5 mb-4">{{ translations_votes|length }} Translations</h2>
        {% for translation, vote in translations_votes %}
            <div class="container d-flex pb-3 mb-4 border-bottom">
                <div class="me-3 text-center">
                    <form action="{% url 'translate:vote' translation.pk %}" method="POST">
                        {% csrf_token %}
                        {% if request.user.is_authenticated and request.user != entry.user %}
                            <button type="submit" value="1"
                            name="{% if vote.direction != 1 %}upvote{% else %}remove{% endif %}"
                            class="btn btn-sm btn{% if vote.direction != 1 %}-outline{% endif %}-primary rounded-circle"
                            aria-label="Upvote">
                                <i class="bi bi-caret-up-fill"></i>
                            </button>

                            <div class="my-1">{{ translation.vote_count }}</div>

                            <button type="submit" value="-1"
                            name="{% if vote.direction != -1 %}downvote{% else %}remove{% endif %}"
                            class="btn btn-sm btn{% if vote.direction != -1 %}-outline{% endif %}-primary rounded-circle"
                            aria-label="Downvote">
                                <i class="bi bi-caret-down-fill"></i>
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-sm btn-outline-secondary rounded-circle" aria-label="Upwnvote">
                                <i class="bi bi-caret-up-fill"></i>
                            </button>

                            <div class="my-1">{{ translation.vote_count }}</div>

                            <button type="submit"  class="btn btn-sm btn-outline-secondary rounded-circle" aria-label="Downvote">
                                <i class="bi bi-caret-down-fill"></i>
                            </button>
                        {% endif %}
                    </form>
                </div>
                <div class="flex-grow-1">
                    {{ translation.content|linebreaks }}

                    <div class="d-flex align-items-center justify-content-between">
                        <div class="me-auto">
                            <small class="me-1"><strong>{{ translation.correctness }}%</strong></small>
                            <span class="badge bg-primary">{{ translation.lang.name }}</span>
                        </div>
                        <div class="d-flex flex-wrap justify-content-end text-muted">
                            <small class="text-nowrap ms-3">
                            {% if translation.user == request.user %}
                                <a href="{% url 'translate:edit_translation' translation.pk %}">
                                    <i class="bi bi-pen"></i>
                                </a>
                            {% else %}
                                <i class="bi bi-pen"></i>
                            {% endif %}
                            </small>
                            <small class="text-nowrap ms-3">
                                by
                                <a href="{% url 'users:profile' entry.user.id entry.user.username %}"
                                class="text-decoration-none">{{ translation.user.username }}</a>
                                <span class="fw-bold">{{ translation.user.profile.reputation }}</span>
                            </small>
                            <small class="text-nowrap ms-3">{{ translation.modified_at|naturaltime }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="container pb-3 mb-4 border-bottom">
                No translations
            </div>
        {% endfor %}
    </div>

    <div class="row g-4 container pb-3 mb-3">
        <div class="col-md">
            <h2 class="h5 mb-3">Add translation</h2>
            <form action="{% url 'translate:entry' entry.id %}" method="POST" id="add-translation">
                {% csrf_token %}
                <input type="hidden" name="entry_lang" value="{{ entry.lang.code }}" id="entry_lang">
                <div class="form-group pb-3 mb-3">
                    <label for="lang" class="fw-bold mb-2">Language</label>
                    <select name="lang" id="lang" class="form-select mb-2">
                        <option value="akl">Aklanon</option>
                        <option value="eng">English</option>
                    </select>
                    <label for="content" class="fw-bold mb-2">Content</label>
                    <div id="proofreader-field"></div>
                    <input type="checkbox" name="reverse" id="reverse">
                    <label for="reverse">Also add translation as entry</label>
                </div>
                {% if user.is_authenticated %}
                    <input type="submit" value="Add Translation" class="btn btn-primary">
                {% else %}
                    <a href="{% url 'users:login' %}?next={{ request.path }}"class="btn btn-secondary">
                        Login to add Translation
                    </a>
                {% endif %}
            </form>
        </div>
        <div class="col-md-4 p-3 alert alert-info alert-dismissible fade show">
            <h5>Guide in translating</h5>
            <button type="button" class="btn-close p-3" data-bs-dismiss="alert" aria-label="Close"></button>
            <ul>
                <li class="mb-2">
                    <strong>Conciseness</strong><br>
                    <small>Keep translations within the 300-character limit for readability and focus.</small>
                </li>
                <li class="mb-2">
                    <strong>Accuracy</strong><br>
                    <small>Ensure the translated text accurately reflects the original meaning.</small>
                </li>
                <li class="mb-2">
                    <strong>Relevance</strong><br>
                    <small>Ensure translations remain relevant to the original entry's purpose.</small>
                </li>
                <li class="mb-2">
                    <strong>Clarity</strong><br>
                    <small>Translate clearly and concisely to aid understanding.</small>
                </li>
                <li class="mb-2">
                    <strong>Language</strong><br>
                    <small>Use appropriate language in translations, avoiding offensive or inappropriate content.</small>
                </li>
                <li class="mb-2">
                    <strong>Use our Dictionary</strong><br>
                    <small>
                        Use our resources like the
                        <a href="{% url 'dictionary:catalog' 'akl' %}" class="text-reset">Aklish dictionary</a>
                        to look up words, definitions, and more.
                    </small>
                </li>
                <li class="mb-2">
                    <strong>Moderation</strong><br>
                    <small>Understand that all translations are subject to moderation.</small>
                </li>
            </ul>
            <p><small>Thank you for contributing to our community!</small></p>
        </div>
    </div>

    <script>
        const translationLangSelect = document.querySelector("#lang");
        const entryLang = document.querySelector("#entry_lang");
        console.log(entryLang);

        for (const option of translationLangSelect.options) {
            option.selected = option.value !== entryLang.value;
            option.disabled = option.value === entryLang.value;
        }
    </script>
{% endblock %}