{% extends 'main/base.html' %}

{% block title %}
    About Aklish
{% endblock %}

{% block content%}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>About Aklish</h1>
    </div>

    <div class="container mb-3">

        <p>Welcome to Aklish, your platform for crowdsourcing Aklanon-English translations and fostering language learning and cultural exchange.</p>

        <div class="my-4">
            <h2>Our Mission</h2>
            <p>
                At Aklish, our mission is to bridge language barriers and celebrate linguistic diversity by empowering Aklanon speakers and foreign learners to contribute and engage with the Aklanon and English languages.
            </p>
        </div>

        <div class="my-4">
            <h2>Meet the Team</h2>

            <div class="mb-2">
                <h5 class="m-0">Andrian Lloyd Maagma</h5>
                <small>Student Researcher and Developer</small>
            </div>

            <div class="mb-4">
                <h5 class="m-0">Danizza Gay Salido</h5>
                <small>Student Researcher</small>
            </div>
        </div>

        <div class="my-4">
            <h2>Features</h2>
    
            <ul>
                <li><strong>Crowdsourced Translations</strong><br>
                    Aklish allows users to add
                    text entries for translation or
                    contribute their translations to existing text entries.
                </li>
                <li><strong>Aklanon-English Dictionary</strong><br>
                    Explore our comprehensive dictionary
                    to look up Aklanon and English words,
                    complete with definitions, parts of speech, examples, and more!
                </li>
                <li><strong>Proofreading Tools</strong><br>
                    Our integrated proofreading tools help users
                    refine their Aklanon and English writing skills,
                    offering spelling suggestions tailored to both languages.
                </li>
                <li><strong>Language Games</strong><br>
                    Aklish offers a variety of interactive games
                    like Wordle and Match designed
                    to reinforce language skills and vocabulary retention.
                </li>
            </ul>
        </div>

        <div class="my-4">
            <h2>Get Involved</h2>

            <p>
                Join our community of language enthusiasts, educators, and learners!
                Whether you're a native speaker, a language learner,
                or simply passionate about linguistic diversity
                there are plenty of ways to get involved and contribute to Aklish.
            </p>
        </div>

        <div class="my-4">
            <h2>Contact Us</h2>

            <p>
                Got questions, feedback, or suggestions? We'd love to hear from you! <br>
                Reach out to us at
                <a href="mailto:maagmaandrian@gmail.com">maagmaandrian@gmail.com</a>
                or <a href="mailto:danizzagay06@gmail.com">danizzagay06@gmail.com</a>
            </p>
        </div>

        <p>
            Thank you for being a part of the Aklish community!
        </p>

    </div>

{% endblock %}