{% extends 'main/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    Aklish: The Aklanon & English platform where your words translate and are translated.
{% endblock %}

{% block content %}
    <!-- Hero -->
    <section id="hero" class="container p-lg-4 p-md-3">
        <div class="row g-3">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="display-2 fw-bold text-nowrap">
                    Translate and
                    <br>
                    be translated
                </h1>
                <p>
                    The Aklanon & English platform where your<br>
                    words translate and are translated.
                </p>
                <div>
                    <a href="{% url 'users:register' %}" class="btn btn-primary mb-2 text-nowrap">
                        Get started
                    </a>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/carabao-reading.svg' %}" alt="Aklish" style="width: 80%; height: auto;">
            </div>
        </div>
    </section>
    <!-- End hero -->

    <!-- Stats -->
    <section class="container p-3 mb-5">
        <hr>
        <h2 class="text-center fw-bold mb-3">Contribute to our growing numbers!</h2>

        <div class="row">
            <div class="col-4 text-center">
                <a href="{% url 'translate:add' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ entries.count }}</p>
                    <p class="fs-6">Entries</p>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'translate:catalog' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ translations.count }}</p>
                    <p class="fs-6">Translations</p>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'dictionary:catalog' 'akl' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ dict_entries.count }}</p>
                    <p class="fs-6">Words</p>
                </a>
            </div>
        </div>
        <hr>
    </section>
    <!-- End stats -->

    <!-- Call to action -->
    <section class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 order-sm-1 order-2 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <textarea id="entry-text-example" name="content"
                class="form-control p-4 mb-3 flex-grow-1 fs-3 border-2 border-primary"
                placeholder="Write what you want to translate here" rows="3"></textarea>

                <a id="add-entry-example" href="{% url 'translate:add' %}" class="btn btn-outline-primary">
                    Add an entry
                </a>
            </div>
            <div class="col-md-6 order-sm-2 order-1 d-flex flex-column justify-content-center align-items-center text-md-end text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Imong hambae,
                        <br>
                        their translation
                    </h1>
                    <p>
                        Easily submit your text for others to translate
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-md-start text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Their words,
                        <br>
                        imong pagsalin
                    </h1>
                    <p>
                        Help translate texts submitted by others.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-2">
                    <div class="d-flex align-items-center justify-content-center text-muted">
                        <i class="bi bi-chat-right-quote fs-1 text-primary me-3"></i>
                        <p class="fs-4 fw-bold m-0">The carabao is swimming in the mud.</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center text-muted">
                        <i class="bi bi-chat-left-quote-fill fs-1 text-primary me-3"></i>
                        <p class="fs-6 fw-bold m-0">Ro anwang nagaeungaeog sa eugan-eugan.</p>
                    </div>
                </div>

                <a href="{% url 'translate:catalog' %}" class="btn btn-outline-primary">
                    Translate an entry
                </a>
            </div>
        </div>
    </section>
    <!-- End call to action -->

    <!-- Featured -->
    <section class="p-3">
        <h2 class="text-center fw-bold mb-4">Explore More Features</h2>

        <div class="row g-3">
            <!-- Proofreader -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 fw-bold mb-1">Aklanon Spellchecker</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-3">proofreader</span>
                        </div>

                        <p class="card-text">
                            Ensure your Aklanon spelling is accurate.
                            <div class="p-2 text-center bg-body-tertiary rounded">
                                saea <u class="link-underline-danger">run</u> hay!
                            </div>
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'proofreader:index' 'akl' %}" class="btn btn-sm btn-primary">
                                Try it now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of proofreader -->

            <!-- Wordle -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 fw-bold mb-1">Aklanon Wordle</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-3">games</span>
                        </div>

                        <p class="card-text m-0">
                            Can you guess the secret Aklanon word in 6 turns?
                        </p>

                        <div class="px-2">
                            <div class="grid">
                                <div class="row d-flex">
                                    <div class="misplaced">K</div>
                                    <div class="misplaced">A</div>
                                    <div class="absent">L</div>
                                    <div class="correct">A</div>
                                    <div class="correct">N</div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'games:wordle' 'akl' %}" class="btn btn-sm btn-primary">
                                Play now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of wordle -->

            <!-- Match -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 fw-bold mb-1">Aklanon Match</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-3">games</span>
                        </div>

                        <p class="card-text">
                            Can you identify the synonym of an Aklanon word?
                            <div class="p-2 d-flex justify-content-center bg-body-tertiary rounded">
                                <button class="btn btn-sm btn-outline-primary rounded-pill">
                                    bahoe
                                </button>
                                <button class="btn btn-sm btn-danger rounded-pill mx-1">
                                    isot
                                </button>
                                <button class="btn btn-sm btn-outline-success rounded-pill">
                                    eagko
                                </button>
                            </div>
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'games:match' 'akl' %}" class="btn btn-sm btn-primary">
                                Play now!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of match -->

            <!-- Leaderboard -->
            <div class="col-sm">
                <div class="card h-100 p-2 rounded-4">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title fs-5 fw-bold mb-1">Top Contributors</h3>
                        <div>
                            <span class="badge text-bg-secondary mb-3">users</span>
                        </div>

                        <p class="card-text">
                            A special thanks to our top users for their contributions!
                            {% for user in top_users %}
                                <div>
                                    <span class="me-1">#{{ forloop.counter }}</span>
                                    <a href="{% url 'users:profile' user.pk user.username %}" class="text-decoration-none">
                                        <i class="bi bi-person"></i>
                                        {{ user.username }}
                                    </a>
                                </div>
                            {% endfor %}
                        </p>

                        <div class="mt-auto d-flex justify-content-center">
                            <a href="{% url 'users:index' %}"class="btn btn-sm btn-primary">
                                See leaderboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of leaderboard -->
        </div>
    </section>
    <!-- End of featured -->

    <script>
        const addEntryExample = document.querySelector("#add-entry-example");
        const entryTextExample = document.querySelector("#entry-text-example");

        addEntryExample.addEventListener("click", (event) => {
            localStorage.setItem("proofreaderTextInput", entryTextExample.value)
        })
    </script>
{% endblock %}