{% extends 'main/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    Aklish: The Aklanon & English platform where your words translate and are translated.
{% endblock %}

{% block content %}
    <!-- Hero -->
    <section id="hero" class="container p-lg-4 p-md-3">
        <div class="row g-3">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="display-2 fw-bold text-nowrap">
                    Translate and
                    <br>
                    be translated
                </h1>
                <p>
                    The Aklanon & English platform where your<br>
                    words translate and are translated.
                </p>
                <div>
                    <a href="{% url 'users:register' %}" class="btn btn-primary mb-2 text-nowrap">
                        Get started
                    </a>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 d-flex justify-content-center align-items-center">
                <img src="{% static 'images/carabao-reading.svg' %}" alt="Aklish" style="width: 80%; height: auto;">
            </div>
        </div>
    </section>
    <!-- End hero -->

    <!-- Stats -->
    <section id="stats" class="container p-3 mb-5">
        <hr>
        <h2 class="text-center fw-bold mb-3">Contribute to our growing numbers!</h2>

        <div class="row">
            <div class="col-4 text-center">
                <a href="{% url 'translate:add' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ entries.count }}</p>
                    <p class="fs-6">Entries</p>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'translate:catalog' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ translations.count }}</p>
                    <p class="fs-6">Translations</p>
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="{% url 'dictionary:catalog' 'akl' %}" class="link-unstyled">
                    <p class="display-5 fw-bold text-primary mb-0">{{ dict_entries.count }}</p>
                    <p class="fs-6">Words</p>
                </a>
            </div>
        </div>
        <hr>
    </section>
    <!-- End stats -->

    <!-- Call to action -->
    <section id="add-entry" class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 order-md-1 order-2 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <textarea id="entry-text-example" name="content"
                class="form-control p-4 mb-3 flex-grow-1 fs-3 border-2 border-primary"
                placeholder="Write what you want to translate here" rows="3"></textarea>

                <a id="add-entry-example" href="{% url 'translate:add' %}" class="btn btn-outline-primary">
                    Add an entry
                </a>
            </div>
            <div class="col-md-6 order-md-2 order-1 d-flex flex-column justify-content-center align-items-center text-md-end text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Imong hambae,
                        <br>
                        their translation
                    </h1>
                    <p>
                        Easily submit your text for translation <br> and contribute to the community.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section id="add-translation" class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-md-start text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Their words,
                        <br>
                        imong pagsalin
                    </h1>
                    <p>
                        Help translate texts submitted by others <br> and make a difference in our shared knowledge.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-2">
                    <div class="d-flex align-items-center justify-content-center text-muted">
                        <i class="bi bi-chat-right-quote fs-1 text-primary me-3"></i>
                        <p class="fs-4 fw-bold m-0">The carabao is swimming in the mud.</p>
                    </div>

                    <div class="d-flex align-items-center justify-content-center text-muted">
                        <i class="bi bi-chat-left-quote-fill fs-1 text-primary me-3"></i>
                        <p class="fs-6 fw-bold m-0">Ro anwang nagaeungaeog sa eugan-eugan.</p>
                    </div>
                </div>

                <a href="{% url 'translate:catalog' %}" class="btn btn-outline-primary">
                    Translate an entry
                </a>
            </div>
        </div>
    </section>
    <!-- End call to action -->
    <br>
    <!-- Dictionary -->
    <section id="dictionary" class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 order-md-1 order-2 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                {% include 'dictionary/word_today.html' %}
            </div>
            <div class="col-md-6 order-md-2 order-1 d-flex flex-column justify-content-center align-items-center text-md-end text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Explore the
                        <br>
                        Dictionary
                    </h1>
                    <p>
                        Dive into comprehensive Aklanon and English dictionaries.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End dictionary -->
    <br>
    <!-- Proofreader -->
    <section id="proofreader" class="container p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-md-start text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Use the
                        <br>
                        Spellchecker
                    </h1>
                    <p>
                        Verify your Aklanon spelling with our accurate spellchecking tool.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <div class="px-5 py-4 mb-3 bg-body-tertiary rounded">
                    <div class="fs-4 mb-3">
                        saea gilang <u class="link-underline-danger">run</u> hay,
                        <u class="link-underline-danger">gapnalapong</u> ka
                    </div>

                    <div class="d-flex flex-wrap fs-5 text-muted">
                        <small class="me-2 text-nowrap">
                            <strong id="word-count">6</strong> words
                        </small>
                        <small class="me-2 text-nowrap">
                            <strong id="mistake-count">2</strong> mistakes
                        </small>
                        <small class="me-2 text-nowrap">
                            <strong id="correctness">33%</strong> correct
                        </small>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="{% url 'proofreader:index' 'akl' %}" class="btn btn-outline-primary">
                        Try for free
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End proofreader -->
    <br>
    <!-- Games-->
    <section id="games" class="p-3 mb-5">
        <div class="row g-3">
            <div class="col-md-6 order-md-1 order-2 px-lg-5 d-flex flex-column justify-content-center align-items-center">
                <div class="row g-3">
                    <!-- Wordle -->
                    <div class="col-md">
                        <div class="card h-100 p-2 rounded-4 border-2 border-primary">
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title fs-4 fw-bold mb-1">Aklanon Wordle</h3>

                                <p class="card-text m-0">
                                    Can you guess the secret Aklanon word in 6 turns?
                                </p>

                                <div class="px-2">
                                    <div class="grid">
                                        <div class="row d-flex">
                                            <div class="misplaced">K</div>
                                            <div class="misplaced">A</div>
                                            <div class="absent">L</div>
                                            <div class="correct">A</div>
                                            <div class="correct">N</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of wordle -->

                    <!-- Match -->
                    <div class="col-md">
                        <div class="card h-100 p-2 rounded-4">
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title fs-4 fw-bold mb-1">Aklanon Match</h3>

                                <p class="card-text">
                                    Can you identify the synonym of an Aklanon word?
                                    <div class="p-2 d-flex justify-content-center bg-body-tertiary rounded">
                                        <button class="btn btn-sm btn-outline-primary rounded-pill">
                                            bahoe
                                        </button>
                                        <button class="btn btn-sm btn-danger rounded-pill mx-1">
                                            isot
                                        </button>
                                        <button class="btn btn-sm btn-outline-success rounded-pill">
                                            eagko
                                        </button>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of match -->

                    <div class="d-flex justify-content-center">
                        <a href="{% url 'games:wordle' 'akl' %}" class="btn btn-outline-primary">
                            Play now!
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 d-flex flex-column justify-content-center align-items-center text-md-end text-center">
                <div>
                    <h1 class="display-6 fw-bold text-nowrap">
                        Play Fun
                        <br>
                        Word Games
                    </h1>
                    <p>
                        Challenge yourself with Aklanon and English <br> language games and enhance your skills.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of games -->
    <br>
    <!-- Leaderboard -->
    <section id="leaderboard" class="p-3 mt-5">
        <h2 class="text-center fw-bold mb-3">Top Contributors</h2>

        <div class="mb-4 d-flex justify-content-center">
            <div class="d-flex flex-column">
                {% for user in top_users %}
                    <div class="fs-5">
                        <span class="me-1">#{{ forloop.counter }}</span>
                        <a href="{% url 'users:profile' user.pk user.username %}" class="text-decoration-none">
                            <i class="bi bi-person"></i>
                            {{ user.username }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-auto d-flex justify-content-center">
            <a href="{% url 'users:index' %}" class="text-decoration-none fw-bold">
                See leaderboard
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </section>
    <!-- End of leaderboard -->

    <script>
        const addEntryExample = document.querySelector("#add-entry-example");
        const entryTextExample = document.querySelector("#entry-text-example");

        addEntryExample.addEventListener("click", (event) => {
            localStorage.setItem("proofreaderTextInput", entryTextExample.value)
        })
    </script>
{% endblock %}