{% extends 'main/base.html' %}

{% block title %}
    Aklish Sources
{% endblock %}

{% block content%}
    <div class="container pb-3 mb-3 border-bottom">
        <h1>Sources</h1>
    </div>

    <div class="container mb-3">

        <p>Our main data sources are (random order):</p>
    
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://eric.ed.gov/?id=ED145705" class="text-decoration-none">
                    A Study of the Aklanon Dialect. Volume One: Grammar.
                </a><br>
                <small>
                    Zorc, R. David Paul, & Beato A. de la Cruz (1968)
                </small>
            </li>
            <li class="list-group-item">
                <a href="https://files.eric.ed.gov/fulltext/ED145704.pdf" class="text-decoration-none">
                    A Study of the Aklanon Dialect. Volume Two: Dictionary (of root words and derivations) Aklanon to English.
                </a><br>
                <small>
                    Reyes, Vicente Salas, Zorc, R. David Paul, & Prado, Nicolas L. (1969)
                </small>
            </li>
            <li class="list-group-item">
                <a href="https://acd.clld.org/languages/226" class="text-decoration-none">
                    ACD - Austronesian Comparative Dictionary Online
                </a><br>
                <small>
                    Blust, Robert & Trussel, Stephen & Smith, Alexander D. & Forkel, Robert
                </small>
            </li>
            <li class="list-group-item">
                <a href="https://www.ibiblio.org/webster/" class="text-decoration-none">
                    The GNU version of The Collaborative International Dictionary of English, presented in the Extensible Markup Language
                </a><br>
                <small>Dyck, Michael (2022)</small>
            </li>
        </ul>

        <p class="mt-4">Thank you.</p>

    </div>

{% endblock %}