<nav id="page-pagination">
    <ul class="pagination pagination-sm flex-wrap justify-content-center">
        <!-- Previous -->
        <li class="page-item {% if not entries.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page=1&sort={{ sort_by }}">
                <span>&laquo;</span>
            </a>
        </li>
        <li class="page-item {% if not entries.has_previous %} disabled {% endif %}">
            <a href="?page={% if entries.has_previous %}{{ entries.previous_page_number }}{% endif %}&sort={{ sort_by }}"
                class="page-link"
            >
                <span>&lsaquo;</span>
            </a>
        </li>
        <!-- End previous -->

        <!-- Page numbers -->
        {% for page_num in page_nums %}
            <li class="page-item">
                <a href="?page={{ page_num }}&sort={{ sort_by }}"
                    class="page-link mb-1 {% if page_num == request.GET.page %} active {% endif %}"
                >
                    {{ page_num }}
                </a>
            </li>
        {% endfor %}
        <!-- End page numbers -->

        <!-- Next -->
        <li class="page-item {% if not entries.has_next %} disabled {% endif %}">
            <a href="?page={% if entries.has_next %}{{ entries.next_page_number }}{% endif %}&sort={{ sort_by }}"
                class="page-link"
            >
                <span>&rsaquo;</span>
            </a>
        </li>
        <li class="page-item {% if not entries.has_next %} disabled {% endif %}">
            <a class="page-link" href="?page={{ entries.paginator.num_pages }}&sort={{ sort_by }}">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>